# Virtual Environment
venv/
env/
.env/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.spec
dist/
build/

# Audio Files & Media (Never push copyrighted music)
*.mp3
*.m4a
*.opus
*.webm
*.flac
*.wav
*.lrc
Artist And Artist Collection Newees 20/
test_output/

# Logs & Temporary Files
*.log
*.tmp
*.bak
.spotdl-cache/

# OS & Editor
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini

*.egg-info/

Playlist_Haven_README.md
